
.register-box {
    padding: 100px 20px 20px 20px; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
    box-sizing: border-box;
}

.heading {
    margin-top: 10px;
    margin-bottom: 5px; 
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 34px;
}

.paragraph {
    color: #6e6b73;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    max-width: 90%;
    margin-bottom: 20px;
    margin-left:75px;
}

.button {
    height: 40px;
    width: 194px;
    border-radius: 6px;
    border: none;
    margin: 10px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.account {
    background-color: #7041c1;
    color: #ffffff;
}

.registered {
    background-color: #a89cbd;
}

/* Responsive Design */
@media (max-width: 768px) {
    .heading {
        font-size: 28px;
    }

    .paragraph {
        font-size: 16px;
    }

    .button {
        width: 160px;
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    .heading {
        font-size: 24px;
    }

    .paragraph {
        font-size: 14px;
    }

    .button {
        width: 100%;
        max-width: 220px;
        font-size: 14px;
    }
}
